body{
    margin:0px;
    padding:0;
}

.admin-sidebar{
    height: 100%;
    width: 180px;
    background-color:#378369;
}

.sidebar-list{
    height: auto;
    padding: 0;
    width: 100%;
   font-size: 1.1rem;
}


.a:hover{
    cursor: pointer;
    background-color: #255685;
}
