.header-section{
    background-image: linear-gradient(to right, #e2313100, 
    #adceb6);  
    height: 450px;
    color:rgb(195, 202, 207);
}

*{
    margin: 0;
    padding: 0;
}

.background-des{
background: blueviolet;
width: 100vw;
border-bottom-left-radius: 50% 40%;
border-bottom-right-radius: 50% 40%;
}

